<div class="row align-items-center h-100">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h1 class="font-weight-extra-light">{{'PAGE.ERROR.404.TITLE' | translate}}</h1>
        <h5 class="font-weight-light text-light">
            {{'PAGE.ERROR.404.BODY' | translate}}
        </h5>
        <a class="button button-xl button-radius button-reveal-left-white margin-top-30"
            [routerLink]="['/']">
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
            {{'GENERIC.BTN.GO_HOME' | translate}}
        </a>
    </div>
</div><!-- end row -->