<div class="background"><div class="bg-image"></div></div>

<form class="text-center d-flex align-items-center"
    (ngSubmit)="onFormSubmit($event)">
    <div class="card m-auto text-left shadow">
        <div class="card-header bg-primary text-white">
            <div class="card-title">
                <h4 class="">{{'APP_NAME' | translate}}</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label #lblUsername class="sr-only"
                    for="Username">{{'PAGES.AUTH.LOGIN.LABEL.USERNAME' | translate}}</label>
                <input [id]="lblUsername.getAttribute('for')" [name]="lblUsername.getAttribute('for')"
                    class="form-control"
                    [ngClass]="{'is-invalid': _errors[lblUsername.getAttribute('for')] }"
                    [attr.aria-labelledby]="lblUsername.getAttribute('for')" [placeholder]="lblUsername.innerText" [required]="true"
                    [autofocus]="true"
                    [autocomplete]="'username'"
                    [(ngModel)]="_userData.username"
                    [disabled]="_isLoading">
                <app-array-translator class="invalid-feedback d-block" [labels]="_errors[lblUsername.getAttribute('for')]"></app-array-translator>
            </div>
            <div class="form-group">
                <label #lblPassword class="sr-only" for="Password">{{'PAGES.AUTH.LOGIN.LABEL.PASSWORD' | translate}}</label>
                <input [id]="lblPassword.getAttribute('for')" [name]="lblPassword.getAttribute('for')"
                    class="form-control"
                    [ngClass]="{'is-invalid': _errors[lblPassword.getAttribute('for')] }"
                    [type]="'password'"
                    [placeholder]="lblPassword.innerText" [required]="true" [autofocus]="true"
                    [autocomplete]="'current-password'"
                    [(ngModel)]="_userData.password"
                    [disabled]="_isLoading">
                <app-array-translator class="invalid-feedback d-block" [labels]="_errors[lblPassword.getAttribute('for')]"></app-array-translator>
                <app-array-translator *ngIf="_errorMessage" class="invalid-feedback d-block" [labels]="[_errorMessage]"></app-array-translator>
            </div>

            <div class="form-check custom-checkbox">
                <input [id]="lblRememberMe.getAttribute('for')" [name]="lblRememberMe.getAttribute('for')"
                    class="form-check-input custom-control-input"
                    [type]="'checkbox'"
                    [checked]="_userData.rememberMe"
                    (change)="_userData.rememberMe = !_userData.rememberMe">
                <label #lblRememberMe
                    class="custom-control-label form-check-label" for="RememberMe">
                    {{'PAGES.AUTH.LOGIN.LABEL.REMEMBERME' | translate}}
                </label>
            </div>
        </div>
        <div class="mt-3 card-footer text-right">
            <div class="card-logo"></div>
            <button type="submit" class="btn btn-sm btn-primary"
                [disabled]="_isLoading">
                <fa-icon *ngIf="_isLoading" [icon]="['fas', 'sync']" [spin]="true"></fa-icon>
                <ng-container *ngIf="!_isLoading">{{'PAGES.AUTH.LOGIN.BTN.LOGIN' | translate}}</ng-container>
            </button>
        </div>
    </div>
</form>