:host {
    > div {
        height: 100%;
    }
    .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        .bg-image {
            height: 100%;
            width: 100%;
            background-image: url('/assets/img/PryBase/media/bg-not-found.JPG');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: blur(6px);
            transform: scale(1.1);
        }
    }
}